<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save page</title>
</head>
<body>
<form th:method="POST" th:action="@{/appointments/{hospitalId}/savePage(hospitalId=${hospitalId})}"
      th:object="${newAppointment}">
    <input type="hidden" th:field="*{id}">
    <div>
        <label for="date">LocalDate</label>
        <input type="date" th:field="*{date}" id="date">
    </div>
    <div>
        <select th:field="*{departmentId}">
            <option  value="">--departments--</option>
            <option th:each="department : ${departments}" th:value="${department.id}"
                    th:text="${department.name}"></option>
        </select>
    </div>
    <div >
        <select th:field="*{doctorId}">
            <option value="">>>doctors<<</option>
            <option th:each="doctor : ${doctors}" th:value="${doctor.id}"
                    th:text="${doctor.firstName}"></option>
        </select>
    </div>
    <br>

    <div>
        <select th:field="*{patientId}">
            <option value="">>>patients<<</option>
            <option th:each="patient : ${patients}" th:value="${patient.id}"
                    th:text="${patient.firstName}"></option>
        </select>
    </div>

    <div>
        <input type="submit" value="Save">
    </div>
    <form th:action="@{/appointments/{hospitalId}(hospitalId=${hospitalId})}">
        <input type="submit" th:value="Cancel"/>
    </form>
</form>
</body>
</html>