<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save page</title>
</head>
<body>

<form th:method="POST" th:action="@{/hospitals/savePage}" th:object="${newHospital}">

    <div>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">
    </div>

    <div>
        <label for="address">Address</label>
        <input type="text" th:field="*{address}" id="address">
    </div>

    <div>
        <label for="imageLink">ImageLink</label>
        <input type="text" th:field="*{imageLink}" id="imageLink">
    </div>


    <button type="submit">save</button>
    <p style="text-align:center;">

</form>
<form  th:action="@{/hospitals/show}">
    <input type="submit" th:value="Cancel"/>
</form>


</body>
</html>







